.bizHaqimizdaPage{
  width: 1280px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 39px 89px 39px 89px;
  background-color: #FFFFFF;
  .title{
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
  }
}