$mainColor: #418C61;
.test{
  cursor: pointer;
}
.ArizaPage{
  width: 100vw;
  min-height: 80vh;
    margin: 0 auto;
  padding: 0 50px;
  background-color: inherit;
  .login-page{
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    padding: 0;
    .left-side{
      width: 33%;
      background-color: $mainColor;
      padding: 20px;
      box-sizing: border-box;
      div{
        width: 100%;
        justify-content: space-between;
        p{
          width: 48%;
        }
      }
      p{
        width: 100%;
        color: white;
        margin-bottom: 5px;
        span{
          background-color: #FFFFFF;
          color: black;
          padding: 5px;
          border-radius: 3px;
          width: 100%;
          display: flex;
        }
      }
      .imgBox{
        display: flex;
        align-items: center;
        img{
          width: 25%;
          border-radius: 10%;
          margin-right: 5%;
        }
        .fullName{
          height: auto;
          display: flex;
          width: 70%;
          font-size: 16px;
        }
      }
    }
    .center{
      width: 33%;
      height: 100%;
      background-color: white;
      padding: 20px;
      h5{
        font-size: 20px;
        font-weight: 600;
        color: $mainColor;
        text-align: center;
      }
      p{
        width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        span{
          font-weight: 500;
          color: black;
          padding: 5px;
          border-radius: 3px;
          width: 100%;
          display: flex;
        }
      }
    }
    .right-side{

      width: 33%;
      height: 100%;
      background-color: $mainColor;
      padding: 20px;
      overflow: hidden;

      .container{
        width: 100%;
        min-height: 110px;
        margin: 25px auto;
        padding: 10px;
        p{
          width: 100%;
          color: white;
          margin-bottom: 5px;
          span{
            background-color: white;
            color: black;
            padding: 5px;
            border-radius: 3px;
            width: 100%;
            display: flex;
          }
        }
      }
      .signUp{
        width: 200px;
        height: 50px;
        background-color: white;
        color: $mainColor;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
@media (max-width: 1200px) {
  .ArizaPage{
    width: 100%;
    padding: 30px;
  }
}
@media (max-width: 992px) {
  .ArizaPage {
    .login-page {
      margin: 30px auto;
      display: block;

      .left-side {
        width: 100%;

        .imgBox {
          img {
            width: 20%;
          }
        }
      }

      .right-side {
        width: 100%;
      }
    }
  }
}
@media (max-width: 768px) {
  .ArizaPage{
    padding: 15px;
  }
}